<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Como Pa Pobre</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link rel="stylesheet" th:href="@{/css/inicio.css}">
    <link rel="icon" th:href="@{/img/logoComoPaPobre.ico}" type="image/x-icon">
</head>
<body>
   <!-- Navbar --> 
<nav th:replace="~{components/navbar :: nav-bar}"></nav>


    <div style="position: relative; text-align: center; margin-top: 0px;"> 
        <img th:src="@{/img/inicio.jpeg}" alt="Producto" class="hero-image"> 
        <div class="overlay"></div> 
        <div class="hero-text">
            <h1 th:text="#{titulo.bienvenidos}">-- BIENVENIDOS --</h1>
            <p th:text="#{inicio.frase}">¡Para todo los madrugadores!</p>
        
        </div>
        
    </div>
    

    <!-- Sección Menú -->
   <section class="menu-section">
    <div class="container">
        <div class="text-center mb-4">
    <a th:href="@{/personalizar}" class="btn btn-warning btn-lg px-4 py-3 shadow rounded-pill fw-bold">
        🍔 Personaliza tu hamburguesa
    </a>
</div>
        <h2 class="text-center1" th:text="#{menu.titulo}">Nuestro Menú</h2>
        <br>
        <div class="row forth_sec">
            <div class="col">
                <div class="menu" th:style="'background-image: url(' + @{/img/Hamburguesas.png} + ');'">
                    <div class="overlay1"></div>
                    <div class="inner_content">
                        <a th:href="@{/menuhambur}" th:text="#{menu.hamburguesas}">Hamburguesas</a>
                    </div>
                </div>
                
            </div>
            
            <div class="col">
                <div class="menu" th:style="'background-image: url(' + @{/img/Alitas.png} + ');'">
                    <div class="overlay1"></div>
                    <div class="inner_content">
                        <a th:href="@{/menualit}" th:text="#{menu.alitas}">Alitas</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="menu" th:style="'background-image: url(' + @{/img/Salchipapas.png} + ');'">
                    <div class="overlay1"></div>
                    <div class="inner_content">
                        <a th:href="@{/menusalchi}" th:text="#{menu.salchipapas}">Salchipapas</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="menu" th:style="'background-image: url(' + @{/img/Pechugas.png} + ');'">
                    <div class="overlay1"></div>
                    <div class="inner_content">
                        <a th:href="@{/menupech}" th:text="#{menu.pechugas}">Pechugas</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="menu" th:style="'background-image: url(' + @{/img/Bebidas.png} + ');'">
                    <div class="overlay1"></div>
                    <div class="inner_content">
                        <a th:href="@{/menubebid}" th:text="#{menu.bebidas}">Bebidas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


    <!-- videos-->
<section class="video-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7"> 
                <div class="video-container">
                    <video th:src="@{/videos/video1.mp4}" autoplay loop muted></video>
                </div>
            </div>
            <div class="col-md-5 d-flex align-items-center"> 
                <div class="text-content2 w-100"> 
                    <h3 th:text="#{video1.titulo}">¿Buscas un rincón donde el tiempo se detenga y el paladar despierte?</h3>
                    <p th:text="#{video1.linea1}">¡Ven y vive la magia de la noche con nosotros!</p>
                    <p th:text="#{video1.linea2}">Tu lugar para saborear la vida, incluso cuando el reloj marca la hora de los valientes.</p>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-5 d-flex align-items-center"> 
                <div class="text-content2 w-100">
                    <h3 th:text="#{video2.titulo}">¿Madrugada y hambre?</h3>
                    <p th:text="#{video2.linea1}">Aquí no cerramos… ¡mejoramos!</p>
                    <p th:text="#{video2.linea2}">De 8:30 PM a 3 AM</p>
                </div>
            </div>
            <div class="col-md-7"> 
                <div class="video-container">
                    <video th:src="@{/videos/video2.mp4}" autoplay loop muted></video>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Carrusel -->
  <div id="carouselExampleCaptions" class="carousel slide" style="margin-top: 8px;">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img th:src="@{/img/carrusel1.jpg}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h3 th:text="#{carrusel.texto1.titulo}">¡Explosión de Sabores!</h3>
                <p th:text="#{carrusel.texto1.descripcion}">Descubre nuestras creaciones hechas con pasión y ingredientes frescos</p>
            </div>
        </div>
        <div class="carousel-item">
            <img th:src="@{/img/carrusel2.png}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h3 th:text="#{carrusel.texto2.titulo}">Donde los Madrugadores Son Reyes</h3>
                <p th:text="#{carrusel.texto2.descripcion}">¡Tu antojo nocturno tiene dirección!</p>
            </div>
        </div>
        <div class="carousel-item">
            <img th:src="@{/img/carrusel3.png}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                </br><h3 th:text="#{carrusel.texto3.titulo}">¡Caliente, Rápido y Delicioso!</h3>
                <p th:text="#{carrusel.texto3.descripcion}">Hecho al instante, como a ti te gusta</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
    </button>
  </div>

    <!-- Mapa -->
    <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3904.4877939515136!2d-77.13122592494163!3d-11.871083488352218!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105d3bf2eca5aaf%3A0x4442c6b89d72d381!2sComo%20pa%20Pobre!5e0!3m2!1ses!2spe!4v1747073540251!5m2!1ses!2spe"
        width="600" 
        height="450" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
    </iframe>

   <!-- Footer -->
   <div th:replace="~{components/footer :: footer}"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/js/inicio.js}"></script>
    <script th:src="@{/js/carrito.js}"></script>
    <script th:src="@{/js/inactividad.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
</body>
</html>